body {
	font-family: Arial, Helvetica, sans-serif;
	background: #cbdce8;
	height: 100vh;
	width: 100vw;
	margin: 0;
	overflow: hidden;
}
.header {
	height: 8vh;
	background-image: url("../resources/qsfHeader.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
.hcol1,
.hcol2,
.hcol3 {
	display: block;
	flex-grow: 1;
	flex-shrink: 3;
	flex-basis: auto;
	align-self: auto;
	order: 0;
	height: auto;
}
.hcol1 {
	/* border: 1px solid #3de20b; */
	width: 55%;
	background-image: url("../resources/dswd-color.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 10%;
}
.hcol2 {
	/* border: 1px solid #3de20b; */
	width: 25%;
}
.disabled {
	display: hidden !important;
}

.clock {
	height: 100%;
	color: white;
	font-size: 1.7rem;
	font-family: sans-serif;
	line-height: 5vh;
	display: flex;
	align-items: center;
	position: relative;
	overflow: hidden;
	justify-content: center;
}

.tick {
	margin: 0 0.5ch;
	line-height: 5vh;
}

.am-pm {
	margin-left: 10px;
}

.hours,
.minutes,
.seconds {
	display: flex;
}

.hours .first,
.hours .second,
.minutes .first,
.minutes .second,
.seconds .first,
.seconds .second {
	display: flex;
	justify-content: center;
	align-items: center;
}

.move {
	animation: move linear 1s infinite;
}

@keyframes move {
	from {
		transform: translateY(0vh);
	}

	to {
		transform: translateY(-5vh);
	}
}

.disabled-style {
	background-color: gray !important;
	opacity: 0.6;
	cursor: no-drop !important;
}

.hcol3 {
	/* border: 1px solid #3de20b; */
	width: 20%;
}
.user-dropdown {
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
}

.user-button {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 1rem;
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 8px 12px;
	color: white;
}

.dropdown-menu {
	display: none;
	position: absolute;
	top: 100%;
	right: 25%;
	background-color: #f6f9ff;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	min-width: 100px;
	z-index: 1000;
	text-align: center;
}

.dropdown-menu a {
	display: block;
	padding: 10px;
	color: black;
	text-decoration: none;
}

.dropdown-menu a:hover {
	background-color: #d92d27;
	border-radius: 4px;
	color: white;
}

.user-dropdown.active .dropdown-menu {
	display: block;
}

.main {
	height: 84vh;
	width: 100%;
	background-color: #cbdce8;
}
.container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	height: 100%;
	/* width: 100%; */
	/* padding: 5px; */
	/* border: 1px solid orange; */
}
.col1,
.col2,
.col3 {
	display: block;
	flex-grow: 1;
	flex-shrink: 3;
	flex-basis: auto;
	align-self: auto;
	order: 0;
	height: auto;
	/* border: 1px solid #3de20b; */
	width: 33.33%;
}
.col1Card {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	height: 98%;
	/* border: 1px solid brown; */
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: none;
}
.col2Card {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	height: 98%;
	/* border: 1px solid green; */
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 7.5px;
	padding-right: 7.5px;
}
.col3Card {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	height: 98%;
	/* border: 1px solid brown; */
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 15px;
	padding-left: none;
}

.col1Header,
.col2Header,
.col3Header {
	display: flex;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 0;
	height: 6vh;
	/* border: 1px solid yellow; */
	background-color: #150e60;
	border-radius: 5px;
	color: white;
	align-items: center;
	justify-content: center;

	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.5rem;
}
.col1Body,
.col2Body {
	display: block;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 0;
	height: 78vh;
	/* border: 1px solid red; */
	background-color: #f6f9ff;
	border-radius: 5px;
	margin-top: 5px;
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 15px;
}
.queues {
	display: flex;
	background-color: #d92d27;
	border-radius: 5px;
	height: 6vh;
	color: white;
	align-items: center;
	justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 1.5rem;
	margin-top: 5px;
	opacity: 90%;
	/* width: 80%; */
}
.pendingQueues {
	display: flex;
	background-color: #d92d27;
	border-radius: 5px;
	height: 6vh;
	color: white;
	align-items: center;
	justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 1.5rem;
	margin-top: 5px;
	opacity: 90%;
	/* width: 80%; */
}
.pendingQueues button {
	background-color: #d92d27;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 1.5rem;
	height: 100%;
	width: 100%;
}
.col3Body {
	display: block;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 0;
	height: 78vh;
	/* border: 1px solid red; */
	background-color: #f6f9ff;
	border-radius: 5px;
	margin-top: 5px;
	/*padding-top: 5px;
	padding-left: 15px;
	padding-right: 15px; */
}
.col3row1 {
	height: 5%;
	width: 100%;
	background-image: url("../resources/col3row1.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top;
	border-radius: 5px;
}
.col3row2 {
	/* border: 1px solid black; */
	height: 56%;
}
.moduleInfo {
	/* border: 1px solid red; */
	height: 30%;
}
.moduleInfo h3 {
	/* border: 1px solid black; */
	color: black;
	text-align: center;
	margin: 5px;
	font-size: 1.5rem;
	font-family: Arial, Helvetica, sans-serif;
}
.servingCard {
	/* border: 1px solid green; */
	height: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.servingCard span {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 900;
	text-align: center;
	font-size: 5rem;
	margin: 5%;
}
.col3row3 {
	height: 9%;
	background-image: url("../resources/col3row3.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
}
.col3row4 {
	/* border: 1px solid black; */
	height: 30%;
}
/* ============================= CSS for the Modals ============================= */
.custom-modal {
	display: none;
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.custom-modal-content {
	background-color: #f6f9ff;
	margin: 10% auto;
	padding: 20px;
	border-radius: 8px;
	width: 90%;
	max-width: 500px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
	font-family: Arial, Helvetica, sans-serif;
}

.custom-modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.custom-modal-close {
	font-size: 1.5rem;
	cursor: pointer;
}

.custom-modal-body {
	/* margin-top: 10px; */
	text-align: center;
	/* border: 1px solid yellow; */
	font-size: 1.5rem;
	font-weight: bold;
}

.custom-modal-footer {
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
	/* border: 1px solid green; */
}

.custom-modal-footer button {
	padding: 8px 32px;
	border: none;
	background-color: #00bf63;
	color: white;
	border-radius: 4px;
	cursor: pointer;
	font-size: 1.2rem;
}

.custom-modal-footer button:first-child {
	background-color: #6c757d;
}

.custom-modal-footer button:hover {
	opacity: 0.9;
}
/* ============================= CSS for the Modals ============================= */
.topButtons {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	height: 8vh;
	padding: 5px;
}
.priorityBtn {
	display: block;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: auto;
	align-self: auto;
	order: 0;
	background-color: #d92d27;
	cursor: pointer;
	border-radius: 15px;
	margin: 5px;
}
.dummyBtn {
	visibility: hidden;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: auto;
	margin: 5px;
}
.botButtons {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	/* justify-content: flex-start; */
	/* align-items: stretch;
	align-content: stretch; */
	height: 8vh;
	padding: 5px;
	justify-content: space-between;
	align-content: space-between;
}
.skipBtn,
.callBtn,
.proceedBtn {
	/* display: block; */
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: auto;
	align-self: auto;
	order: 0;
	background-color: #150e60;
	cursor: pointer;
	border-radius: 15px;
	margin: 5px;
}

.footer {
	height: 8vh;
	background-image: url("../resources/qsfFooter.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	display: flex;
	align-items: center;
	padding-left: 5%;
}
.footer span {
	color: white;
	font-size: 1.2rem;
}
