body {
	font-family: "Open Sans", sans-serif;
	background: #1b0f9e;
	height: 100vh;
	width: 100vw;
	margin: 0;
	overflow: hidden;
}
.header {
	height: 8vh;
	background-color: #1b0f9e;
	background-image: url("../resources/header.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.header img {
	width: 1005;
	height: 100%;
	object-fit: contain;
	margin-left: 3.5%;
}
.main {
	height: 92vh;
	width: 100%;
	background-color: #1b0f9e;
}
.container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	height: 100%;
	width: 100%;
}
.leftCol {
	border: 1px solid #1b0f9e;
	display: block;
	flex-grow: 1;
	flex-shrink: 3;
	flex-basis: auto;
	align-self: auto;
	order: 0;
	height: 100%;
	width: 50%;
}
.leftColCard {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	height: 100%;
}
.firstRow_queueHeader,
.secondRow_queueHeader,
.thirdRow_queueHeader {
	display: block;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 0;
	border: 1px solid #1b0f9e;
	background-color: white;
	text-align: center;
	font-size: 2rem;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 0px;
	border-radius: 5px;
	padding: 10px;
}
.firstRow {
	display: block;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 0;
	border: 1px solid #1b0f9e;
	height: 22vh;
}
.firstRowCard {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	height: 100%;
}

.firstRow_queueBody {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	height: 12vh;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	gap: 5px;
}
.queueCard1,
.queueCard2 {
	display: block;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: stretch;
	order: 0;
	border: 1px solid #1b0f9e;
	width: 50%;
}
.queueCard1Contents,
.queueCard2Contents {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: normal;
	align-items: normal;
	align-content: normal;
	height: 100%;
}
.window-box {
	display: block;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 0;
	border: 1px solid #1b0f9e;
	text-align: center;
	align-content: center;
	background-color: #150e60;
	color: white;
	border-radius: 5px;

	font-size: 2.5rem;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.queueNum-box {
	display: block;
	flex-grow: 3;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 0;
	border: 1px solid #1b0f9e;
	text-align: center;
	align-content: center;
	background-color: white;
	color: black;
	border-radius: 5px;

	font-size: 4rem;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.secondRow {
	display: block;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 0;
	border: 1px solid #1b0f9e;
	height: 34vh;
}
.secondRowCard {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	height: 100%;
}

.secondRow_queueBody {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	height: 12vh;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	gap: 5px;
}
.queueCard3,
.queueCard4 {
	display: block;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: stretch;
	order: 0;
	border: 1px solid #1b0f9e;
	width: 50%;
}
.queueCard3Contents,
.queueCard4Contents {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: normal;
	align-items: normal;
	align-content: normal;
	height: 100%;
}
.secondRow_queueBody2 {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	height: 12vh;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	gap: 5px;
}
.queueCard5,
.queueCard6 {
	display: block;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: stretch;
	order: 0;
	border: 1px solid #1b0f9e;
	width: 50%;
}
.queueCard5Contents,
.queueCard6Contents {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: normal;
	align-items: normal;
	align-content: normal;
	height: 100%;
}

.dummyCard {
	display: block;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: stretch;
	order: 0;
	border: 1px solid #1b0f9e;
	width: 50%;
}
.dummyCardContents {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: normal;
	align-items: normal;
	align-content: normal;
	height: 100%;
}
.dummy-window-box {
	color: #1b0f9e;
}
.dummy-queueNum-box {
	color: #1b0f9e;
}

.thirdRow {
	display: block;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 0;
	border: 1px solid #1b0f9e;
	height: 34vh;
}
.thirdRowCard {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
.thirdRow_queueBody {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	height: 12vh;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	gap: 5px;
}
.queueCard7,
.queueCard8 {
	display: block;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: stretch;
	order: 0;
	border: 1px solid #1b0f9e;
	width: 50%;
}
.queueCard7Contents,
.queueCard8Contents {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: normal;
	align-items: normal;
	align-content: normal;
	height: 100%;
}
.thirdRow_queueBody2 {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	height: 12vh;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	gap: 5px;
}
.queueCard9 {
	display: block;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: stretch;
	order: 0;
	border: 1px solid #1b0f9e;
	width: 50%;
}
.queueCard9Contents {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: normal;
	align-items: normal;
	align-content: normal;
	height: 100%;
}

.rightCol {
	border: 1px solid #1b0f9e;
	display: block;
	flex-grow: 1;
	flex-shrink: 3;
	flex-basis: auto;
	align-self: auto;
	order: 0;
	height: 100%;
	width: 50%;
}
.rightColCard {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	height: 100%;
}
.rFirstRow {
	display: block;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 0;
	border: 1px solid #1b0f9e;
	height: 10vh;
	background-color: #150e60;
}

.rFirstRowCard {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	height: 100%;

	color: white;
	align-items: center;
	justify-content: center;
	font-size: 2.5rem;
	font-weight: bold;
}
.rSecondRow {
	display: block;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 0;
	border: 1px solid #1b0f9e;
	height: 60vh;
}

.rSecondRowCard {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	height: 100%;
}
.videoCard {
	width: 100%;
	height: 100%;
	/* object-fit: contain; */
	/* object-fit: cover; */
	object-fit: fill;
}
.poweredBy span {
	position: absolute;
	right: 4%;
	bottom: 23%;
	opacity: 50%;
}
.poweredBy img {
	position: absolute;
	right: 1%;
	bottom: 21%;
	width: 3%;
	opacity: 50%;
}
.rThirdRow {
	display: block;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 0;
	border: 1px solid #1b0f9e;
	height: 10vh;
	background-color: #150e60;
}

.rThirdRowCard {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	height: 100%;

	color: white;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	font-weight: bold;
}
.rFourthRow {
	display: block;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 0;
	border: 1px solid #1b0f9e;
	height: 10vh;
	background-color: #150e60;
}

.rFourthRowCard {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	height: 100%;

	color: white;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	font-weight: bold;
}
